/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: 'fira-sans';
    src: url('../fonts/firasans-bold.woff2') format('woff2'),
        url('../fonts/firasans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fira-sans';
    src: url('../fonts/firasans-medium.woff2') format('woff2'),
        url('../fonts/firasans-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-bold.woff2') format('woff2'),
        url('../fonts/montserrat-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-extrabold.woff2') format('woff2'),
        url('../fonts/raleway-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fira-sans';
    src: url('../fonts/firasans-regular.woff2') format('woff2'),
        url('../fonts/firasans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.conteiner {
    width: 85.65%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.inner {
    width: 80.77%;
    max-width: 945px;
    margin: 0 auto;
    box-sizing: border-box;
}
ul {
    list-style: none;
    
}
h2, h3 {
    font-family: 'montserrat', "arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #1fc0fc;
}
h2 {
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
}
h3 {
    font-size: 28px;
    line-height: 34px;
}
.text {
    font-family: 'fira-sans', "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #484848;
}


/* HEADER */
.header__basic {
    width: 100%;
    position: absolute;
    top: 32px;
    z-index: 1;
}
.header__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.phone-number a, .md-trigger {
    font-family: 'fira-sans', "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #484848;
    text-decoration: none;
}
.md-trigger {
    font-variant: small-caps;
    text-transform: uppercase;
}
.md-trigger:hover, .md-trigger:focus {
    margin-top: 1px;
    border-bottom: 1px dashed #484848;
    cursor: pointer;
}
.phone-number a:hover,
.phone-number a:focus {
    text-decoration: underline;
}
/* End of HEADER */

/*Форма заказа звонка*/
.header-form {
    position: absolute;
    top: 0;
    right: 0;
}
.md-effect-10 {
    position: absolute;
    width: 480px;
    min-height: 521px;
    border-radius: 8px;
    right: 0;
    background: #fff;
    -webkit-box-shadow:  0px 3px 12px rgba(0, 0, 0, 0.1);
            box-shadow:  0px 3px 12px rgba(0, 0, 0, 0.1);
    border-top: .1px solid transparent;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1300px;
    perspective: 1300px;
}
.md-show {
    visibility: visible;
}
.form__bell {
    margin-top: 56px;
    margin-bottom: 40px;
}
.form__bell h3 {
    margin-left: 42px;
}
.form__inner {
    border: none;
    padding: 0;
}
.form__inner_top {
    width: 360px;
    margin-left: 42px;
}
.form__inner input {
    width: 100%;
    height: 59px;
    margin: 4px 0;
    font-family: 'fira-sans', "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    border-radius: 29.5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.form__inner_bottom {
    width: 264px;
    margin: 0 auto;
}
legend{
    margin: 0 0 32px;
}
.text__legend {
    font-size: 15px;
    line-height: 26px;
    opacity: 0.7;
}
.form__inner_top > input{
    padding-left: 40px;
    border: 2px solid #E3E3E3;
    color: #484848;
    opacity: 0.5;
}
.form__inner_top > input:hover, 
.form__inner_top > input:focus {
    border: 2px solid #FFC341;
}
.form__inner_top > input:active {
    border: 2px solid #484848;
}
.form__bell_btn {
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    background: -o-linear-gradient(341.58deg, #FFC341 20.46%, #FFD701 65.31%);
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    border: none;
}
.form__bell_btn:hover, .form__bell_btn:focus {
    background: -o-linear-gradient(340.85deg, #FFC341 -50.3%, #FFD701 63.1%);
    background: linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
    cursor: pointer;
}
.form__bell_btn:active {
    background: -o-radial-gradient(50% 50.85%, 150% 119.49%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), -o-linear-gradient(340.85deg, #FFC341 -50.3%, #FFD701 63.1%);
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
}
.form__bell_consent {
    margin-top: 16px;
/*    padding-left: 24px;   */
    font-size: 13px;
    line-height: 19px;
    opacity: 0.74;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
}
.form__bell_consent span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid #FFC341;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
}
.form__bell_consent:hover span, 
.form__bell_consent input:focus+span {
    background: #ffc341;

}
.form__bell_consent input:checked+span {
    background: url(../images/angle-down.svg) no-repeat center center;
}
.md-effect-10 .md-close {
    display: inline-block;
    width: 18px;
    height: 17px;
    position: absolute;
    top: -24px;
    right: 32px;
}
.md-effect-10 .md-close:hover, 
.md-effect-10 .md-close:focus img, 
.md-effect-10 .md-close:active {
    display: inline-block;
    border: 1px solid #ffc341;
}
.md-effect-10 .md-content {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-60deg);
    -ms-transform: rotateX(-60deg);
    transform: rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-10 .md-content {
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
}
/* Конец формы заказа звонка */
/* PRESENTATION */
.presentation__main {
    width: 100%;
    height: 906px;
    background: url(../images/bg.png) no-repeat top center;
    background-size: cover;
    border-top: .1px solid transparent;
}
.content__presentation {
    width: 100%;
    position: relative;
    border-top: .1px solid transparent;
}
.title__main {
    position: absolute;
    width: 1018px;
    height: 340px;
    left: 50%;
    top: 160px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
/*    background: url(../images/pic_overlay.jpg) no-repeat center center;  */
}  /*
.title__main h1 {
    font-family: 'raleway', "Apial", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 340px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    background: #fff;
    mix-blend-mode: lighten;
}  */
.girl {
    position: relative;
    width: 381px;
    height: 906px;
    background: url(../images/girl.png) no-repeat 52% top;
    margin: 0 auto;
}
.girl p {
    position: absolute;
    top: 515px;
    font-family: 'fira-sans', "arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}
.scroll-down {
    position: absolute;
    width: 76px;
    height: 132px;
    top: 616px;
    left: 50%;
    transform: translateX(-50%);
}

/* ABOUT */ 
.about__main {
    width: 100%;
    height: 753px;
    background: url(../images/watercolor-bg-program.png) no-repeat center bottom;
    border-top: .1px solid transparent;
}
.program__about {
    width: 870px;
    height: 686px;
    margin: 0 auto;
    text-align: center;
}
.text__about {
    width: 720px;
    font-size: 17px;
    line-height: 29px;
    margin: 24px auto 48px;
}
.photo__about {
    position: relative;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* PROGRAMS */
.programs__main {
    width: 100%;
    background: url(../images/sketch_bg.png) no-repeat top right;
    border-top: .1px solid transparent;
}
.content__programs {
    height: 456px;
    margin-top: 104px;
}
.composition__programs {
    width: 100%;
    min-height: 324px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.selector__programs {
    width: 228px;
    margin-right: 64px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    align-self: stretch;
    flex-shrink: 0;
}
.wrap__programs {
    width: 560px;
    align-self: stretch;
    overflow-x: hidden;
}
.descriptions__programs {
    position: relative;
    width: 2800px;
    display: flex;
    justify-content: flex-start;
    transition: all .5s;
}
.description__program {
    width: 560px;
    opacity: 0;
}
.text__program, .text__label {
    font-size: 15px;
    line-height: 26px;
    opacity: 0.87;
}
.text__label {
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    line-height: 18px;
}
.text__label:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
}
.text__label_1:before {
    width: 23px;
    height: 33px;
    padding-right: 21px;
    margin-left: 24px;
    background: url(../images/star-black.svg) no-repeat;
}
.text__label_1:hover:before, .text__label_1:focus:before {
    background: url(../images/star-yellow.svg) no-repeat;
}
.text__label_2:before {
    width: 36px;
    height: 35px;
    padding-right: 16px;
    margin-left: 20px;
    background: url(../images/cap-black.svg) no-repeat;
}
.text__label_2:hover:before, .text__label_2:focus:before {
    background: url(../images/cap-yellow.svg) no-repeat;
}
.text__label_3:before {
    width: 32px;
    height: 35px;
    padding-right: 18px;
    margin-left: 22px;
    background: url(../images/portfolio-black.svg) no-repeat;
}
.text__label_3:hover:before, .text__label_3:focus:before {
    background: url(../images/portfolio-yellow.svg) no-repeat;
}
.text__label_4:before {
    width: 32px;
    height: 29px;
    padding-right: 18px;
    margin-left: 22px;
    background: url(../images/arm-black.svg) no-repeat;
}
.text__label_4:hover:before, .text__label_4:focus:before {
    background: url(../images/arm-yellow.svg) no-repeat;
}
.text__label_5:before {
    width: 23px;
    height: 25px;
    padding-right: 23px;
    margin-left: 26px;
    background: url(../images/menorah-black.svg) no-repeat;
}
.text__label_5:hover:before, .text__label_5:focus:before {
    background: url(../images/menorah-yellow.svg) no-repeat;
}

#general:checked ~ .selector__programs .text__label_1:before {
     background: url(../images/star-white.svg) no-repeat;

}
#general:checked ~ .selector__programs .text__label_1 {
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
     color: #fff;
}
#general:checked ~ .wrap__programs .descriptions__programs {
    margin-left: 0;
}
#general:checked ~ .wrap__programs .descriptions__programs .description__program_1 {
    opacity: 1;
}
#academic:checked ~ .selector__programs .text__label_2:before {
     background: url(../images/cap-white.svg) no-repeat;
}
#academic:checked ~ .selector__programs .text__label_2 {
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
     color: #fff;
}
#academic:checked ~ .wrap__programs .descriptions__programs {
    margin-left: -560px;
}
#academic:checked ~ .wrap__programs .descriptions__programs .description__program_2 {
    opacity: 1;
}
#internships:checked ~ .selector__programs .text__label_3:before {
     background: url(../images/portfolio-white.svg) no-repeat;
}
#internships:checked ~ .selector__programs .text__label_3 {
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
     color: #fff;
}
#internships:checked ~ .wrap__programs .descriptions__programs {
    margin-left: -1120px;
}
#internships:checked ~ .wrap__programs .descriptions__programs .description__program_3 {
    opacity: 1;
}
#volunteering:checked ~ .selector__programs .text__label_4:before {
     background: url(../images/arm-white.svg) no-repeat;
}
#volunteering:checked ~ .selector__programs .text__label_4 {
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
     color: #fff;
}
#volunteering:checked ~ .wrap__programs .descriptions__programs {
    margin-left: -1680px;
}
#volunteering:checked ~ .wrap__programs .descriptions__programs .description__program_4 {
    opacity: 1;
}
#religious:checked ~ .selector__programs .text__label_5:before {
     background: url(../images/menorah-white.svg) no-repeat;
}
#religious:checked ~ .selector__programs .text__label_5 {
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
     color: #fff;
}
#religious:checked ~ .wrap__programs .descriptions__programs {
    margin-left: -2240px;
}
#religious:checked ~ .wrap__programs .descriptions__programs .description__program_5 {
    opacity: 1;
}


/* WANT */
.want__main {
    width: 100%;
    height: 594px;
    background: url(../images/girl-flag-bg.png) no-repeat right top, url(../images/backpack.png) no-repeat left center;
    border-top: .1px solid transparent;
}
.content__want {
    margin-top: 209px;
}
.content__want p {
    width: 400px;
    font-size: 17px;
    line-height: 29px;
    opacity: 0.87;
    margin-bottom: 64px;
}
.content__want .form__want {
    width: 477px;
    height: 59px;
    border: 2px solid #E3E3E3;
    border-radius: 29.5px;
    box-sizing: border-box;
}
.form__want input {
    height: 100%;
    font-family: 'fira-sans', "arial", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    border: none;
    border-radius: 29.5px;
}
.form__want .phone-nomber__want {
    width: 212px;
    padding-left: 40px;
    color: #484848;
    opacity: 0.5;
}
.btn__want {
    width: 216px;
    color: #fff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    text-align: center;
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
}
.btn__want:hover, .btn__want:focus {
    background: linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
    cursor: pointer;
}
.btn__want:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
}

/* HOW TO GO */
.how__main {
    width: 100%;
    height: 707px;
    background: url(../images/how-to-go.png) no-repeat 12px center, url(../images/stamp.png) no-repeat right center;
    display: flex;
    margin-top: 160px;
}
.content__how {
    position: relative;
    width: 552px;
    height: 627px;
    align-self: center;
    margin-right: 15px;
    margin-left: auto;
    padding-left: 16px;
    box-sizing: border-box;

}
.text__how {
    width: 480px;
    font-size: 15px;
    line-height: 26px;
    opacity: 0.87;
}
.content__how > ul {
    width: 480px;
    padding: 0;
    font-family: 'fira-sans', "arial", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
    color: #484848;
 }
.item__how {
    font-size: 15px;
    line-height: 21px;
    display: flex;
    align-items: center;
    opacity: 0.87;
}
.item__how:before {
    
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 24px 20px -18px;
    flex-shrink: 0;
    font-family: 'fira-sans', "arial", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 29px;
    color: #ffc341;
}
.item__how_1:before {
    content: "1";
}
.item__how_2:before {
    content: "2";
}
.item__how_3:before {
    content: "3";
}
.item__how_4:before {
    content: "4";
}
.content__how svg {
    position: absolute;
    margin-top: 117px;
}
.text__how_bottom {
    width: 520px;
    margin-left: 16px;
    font-size: 15px;
    line-height: 21px;
    opacity: 0.5;
}  
.line__vertical{
    width: 100%;
    height: 42px;
    border-left: 4px solid #FFC341;
}

/* LIFE IN ISRAEL */
.life__main {
    display: block;
    width: 100%;
    min-height: 950px;
    background: url(../images/watercolor_Bg_life.png) no-repeat center center, url(../images/watch.png) no-repeat right 75%;
    border-top: .1px solid transparent;
}
.content__life {
    width: 1152px;
    min-height: 843px;
    margin: 76px auto 64px;
    text-align: center;
    border-top: .1px solid transparent;
}
.text__life {
    width: 720px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 29px;
    opacity: 0.87;
}
.slides__life {
    width: 100%;
    height: 732px;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    flex-flow: column wrap;
}
.foto__life {
    position: relative;
    margin: 5px;
}
.foto__life_1 {
    margin-left: 0;
}
.foto__life_3 {
    margin-left: -185px;
    order: 4;
}
.foto__life_4 {
    order: 3;
}
.foto__life_5 {
    order: 5;
}
.description__life {
    position: absolute;
    bottom: 8px;
    font-family: 'raleway', "Apial", sans-serif;
    font-weight: 800;
    font-size: 21px;
    line-height: 35px;
    color: #fff;
    text-align: left;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}
.foto__life_1 .description__life {
    width: 320px;
    left: 40px;
}
.foto__life_2 .description__life {
    width: 120px;
    left: 24px;
}
.foto__life_3 .description__life {
    width: 320px;
    left: 32px;
}
.foto__life_4 .description__life {
    width: 360px;
    left: 32px;
}
.foto__life_5 .description__life {
    width: 120px;
    left: 24px;
}





@media (max-width: 767px) {
    .logo {
        -ms-flex-preferred-size: 130px;
            flex-basis: 130px;
        text-align: left;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    }
    .logo__image {
        width: 120px;
    }
    .phone-number, .bell_consent {
        -ms-flex-preferred-size: 130px;
            flex-basis: 130px;
        text-align: right;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        margin-left: auto;
    }
    .phone-number a, .md-trigger {
        font-size: 14px;
        line-height: 17px;
    }
    .md-effect-10 {
        width: 290px;
    }
    .form__inner_top {
        width: 75%;
        margin-left: 8.75%;
    }
    .form__inner_bottom {
        width: 60%;
    }
    .form__bell h3 {
        margin-left: 8.75%;
    }
}