/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: 'fira-sans';
    src: url('../fonts/firasans-bold.woff2') format('woff2'),
        url('../fonts/firasans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fira-sans';
    src: url('../fonts/firasans-medium.woff2') format('woff2'),
        url('../fonts/firasans-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-bold.woff2') format('woff2'),
        url('../fonts/montserrat-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-extrabold.woff2') format('woff2'),
        url('../fonts/raleway-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fira-sans';
    src: url('../fonts/firasans-regular.woff2') format('woff2'),
        url('../fonts/firasans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    width: 100%;
    min-width: 320px;
    overflow-x: hidden;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.conteiner {
    width: 85.65%;
    max-width: 1170px;
    min-width: 303px;
    margin: 0 auto;
    padding: 0 17px 0 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.inner {
    width: 80.77%;
    max-width: 945px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
    
}
h2, h3 {
    font-family: 'montserrat', "arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #1fc0fc;
}
h2 {
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
}
h3 {
    font-size: 28px;
    line-height: 34px;
}
.text {
    font-family: 'fira-sans', "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #484848;
}


/* HEADER */
.header__basic {
    width: 100%;
    height: 52px;
    position: absolute;
    top: 32px;
    z-index: 1;
}
.header__content {
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.phone-number a, .md-trigger {
    font-family: 'fira-sans', "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #484848;
    text-decoration: none;
}
.md-trigger {
    font-variant: small-caps;
    text-transform: uppercase;
    letter-spacing: -.8px;
}
.md-trigger:hover, .md-trigger:focus {
    border-bottom: 1px dashed #484848;
    margin-bottom: -1px;
    cursor: pointer;
}
.phone-number a:hover,
.phone-number a:focus {
    text-decoration: underline;
}
.logo {
    margin-left: -20px;
}
/* End of HEADER */

/*Форма заказа звонка*/
.header-form {
    position: absolute;
    top: 0;
    right: 0;
}
.md-effect-10 {
    position: absolute;
    width: 480px;
    min-height: 521px;
    border-radius: 8px;
    right: 0;
    background: #fff;
    -webkit-box-shadow:  0px 3px 12px rgba(0, 0, 0, 0.1);
            box-shadow:  0px 3px 12px rgba(0, 0, 0, 0.1);
    border-top: .1px solid transparent;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1300px;
    perspective: 1300px;
}
.md-show {
    visibility: visible;
}
.form__bell {
    margin-top: 56px;
    margin-bottom: 40px;
}
.form__bell h3 {
    margin-left: 42px;
}
.form__inner {
    border: none;
    padding: 0;
}
.form__inner_top {
    width: 360px;
    margin-left: 42px;
}
.form__inner input {
    width: 100%;
    height: 59px;
    margin: 4px 0;
    font-family: 'fira-sans', "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    border-radius: 29.5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.form__inner_bottom {
    width: 264px;
    margin: 0 auto;
}
.form__inner_top legend{
    margin: 0 0 32px;
}
.form__inner_top .text__legend {
    font-size: 15px;
    line-height: 26px;
    opacity: 0.7;
}
.form__inner_top > input{
    padding-left: 40px;
    border: 2px solid #E3E3E3;
    color: #484848;
    opacity: 0.5;
}
.form__inner_top > input:hover, 
.form__inner_top > input:focus {
    border: 2px solid #FFC341;
}
.form__inner_top > input:active {
    border: 2px solid #484848;
}
.form__bell_btn {
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    background: -o-linear-gradient(341.58deg, #FFC341 20.46%, #FFD701 65.31%);
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    border: none;
}
.form__bell_btn:hover, .form__bell_btn:focus {
    background: -o-linear-gradient(340.85deg, #FFC341 -50.3%, #FFD701 63.1%);
    background: linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
    cursor: pointer;
}
.form__bell_btn:active {
    background: -o-radial-gradient(50% 50.85%, 150% 119.49%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), -o-linear-gradient(340.85deg, #FFC341 -50.3%, #FFD701 63.1%);
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
}
.form__bell_consent {
    margin-top: 16px;
/*    padding-left: 24px;   */
    font-size: 13px;
    line-height: 19px;
    opacity: 0.74;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
}
.form__bell_consent span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid #FFC341;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
}
.form__bell_consent:hover span, 
.form__bell_consent input:focus+span {
    background: #ffc341;

}
.form__bell_consent input:checked+span {
    background: url(../images/angle-down.svg) no-repeat center center;
}
.md-effect-10 .md-close {
    display: inline-block;
    width: 18px;
    height: 17px;
    position: absolute;
    top: -24px;
    right: 32px;
}
.md-effect-10 .md-close:hover, 
.md-effect-10 .md-close:focus img, 
.md-effect-10 .md-close:active {
    display: inline-block;
    border: 1px solid #ffc341;
}
.md-effect-10 .md-content {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-60deg);
    -ms-transform: rotateX(-60deg);
    transform: rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-10 .md-content {
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
}
/* Конец формы заказа звонка */
/* PRESENTATION */
.presentation__main {
    width: 100%;
    min-width: 912px;
    height: 66.33vw;
    max-height: 906px;
    min-height: 616.88px;
    margin-left: 50%;
    transform: translateX(-50%);
    background: url(../images/bg.png) no-repeat top center;
    background-size: 100% 97%;
    border-top: .1px solid transparent;
}
.content__presentation {
    width: 100%;
    position: relative;
    border-top: .1px solid transparent;
}
.title__main {
    position: absolute;
    width: 87vw;
    max-width: 1018px;
    min-width: 347px;
    left: 50%;
    top: 160px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
/*    background: url(../images/pic_overlay.jpg) no-repeat center center;  */
}
.title__main img {
    width: 100%;
    height: 100%;
} 
.girl {
    position: relative;
    width: 120%;
    height: 77.44vw;
    max-height: 906px;
    min-height: 604.88px;
    background: url(../images/girl.png) no-repeat 100% bottom;
    background-size: 100% 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.girl p {
    position: absolute;
    width: 343px;
    top: 56.6%;
    right: 50%;
    transform: translateX(50%);
    font-family: 'fira-sans', "arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}
.scroll-down {
    position: absolute;
    width: 76px;
    height: 132px;
    top: 69.2%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

/* ABOUT */ 
.about__main {
    width: 100%;
/*    height: 753px;  */
    background: url(../images/watercolor-bg-program.png) no-repeat;
    background-size: 100%;
    background-position: 50% 281%;
    border-top: .1px solid transparent;
}
.program__about {
/*    width: 870px;   
    height: 686px;   */
    margin: -46px auto 0;
    text-align: center;
}
.text__about {
    width: 77.5%;
    max-width: 720px;
    min-width: 288px;
    font-size: 17px;
    line-height: 29px;
    margin: 0 auto;
    transform: translate(10px, -10px);
}
.photo__about_wrap {
    position: relative;
    margin-top: 39px;
    display: flex;
    justify-content: center;
}
.photo__about {
    flex-basis: 64%;
    max-width: 870px;
    min-width: 320px;
    height: auto;
}
.photo__about_small {
    width: 320px;
    height: 224px;
    display: none;
}
.play-button {
    position: absolute;
    width: auto;
    max-width: 96px;
    min-width: 80px;
    height: 21%;
    max-height: 96px;
    min-height: 80px;
    top: 49%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    cursor: pointer;
}

/* PROGRAMS */
.programs__main {
    width: 100%;
    background: url(../images/sketch_bg.png) no-repeat 100% 40%;
    border-top: .1px solid transparent;
}
.content__programs {
    height: 456px;
    margin-top: 200px;
}
.composition__programs {
    width: 100%;
    min-height: 324px;
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    align-items: stretch;
    
}
.selector__programs {
    width: 228px;
    margin-right: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.wrap__programs {
    width: calc(100% - 228px - 64px);
    max-width: 560px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    overflow-x: hidden;
}
.descriptions__programs {
    position: relative;
    width: calc(100%*5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.description__program {
    width: 100%;
    opacity: 0;
    transition: all .5s;
}
.description__program > h3 {
    margin-top: 18px;
    margin-bottom: 25px;
} 
.text__program, .text__label {
    font-size: 15px;
    line-height: 26px;
    opacity: 0.87;
}
.text__label {
    width: 100%;
    height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 18px;
    -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
}
.text__label:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
}
.text__label_1:before {
    width: 23px;
    height: 33px;
    padding-right: 21px;
    margin-left: 24px;
    background: url(../images/star-black.svg) no-repeat;
}
.text__label_1:hover:before, .text__label_1:focus:before {
    background: url(../images/star-yellow.svg) no-repeat;
}
.text__label_2:before {
    width: 36px;
    height: 35px;
    padding-right: 16px;
    margin-left: 20px;
    background: url(../images/cap-black.svg) no-repeat;
}
.text__label_2:hover:before, .text__label_2:focus:before {
    background: url(../images/cap-yellow.svg) no-repeat;
}
.text__label_3:before {
    width: 32px;
    height: 35px;
    padding-right: 18px;
    margin-left: 22px;
    background: url(../images/portfolio-black.svg) no-repeat;
}
.text__label_3:hover:before, .text__label_3:focus:before {
    background: url(../images/portfolio-yellow.svg) no-repeat;
}
.text__label_4:before {
    width: 32px;
    height: 29px;
    padding-right: 18px;
    margin-left: 22px;
    background: url(../images/arm-black.svg) no-repeat;
}
.text__label_4:hover:before, .text__label_4:focus:before {
    background: url(../images/arm-yellow.svg) no-repeat;
}
.text__label_5:before {
    width: 23px;
    height: 25px;
    padding-right: 23px;
    margin-left: 26px;
    background: url(../images/menorah-black.svg) no-repeat;
}
.text__label_5:hover:before, .text__label_5:focus:before {
    background: url(../images/menorah-yellow.svg) no-repeat;
}

#general:checked ~ .selector__programs .text__label_1:before {
     background: url(../images/star-white.svg) no-repeat;

}
#general:checked ~ .selector__programs .text__label_1 {
    background: -o-linear-gradient(341.58deg, #FFC341 20.46%, #FFD701 65.31%);
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
     color: #fff;
}
#general:checked ~ .wrap__programs .descriptions__programs {
    margin-left: 0;
}
#general:checked ~ .wrap__programs .descriptions__programs .description__program_1 {
    opacity: 1;
}
#academic:checked ~ .selector__programs .text__label_2:before {
     background: url(../images/cap-white.svg) no-repeat;
}
#academic:checked ~ .selector__programs .text__label_2 {
    background: -o-linear-gradient(341.58deg, #FFC341 20.46%, #FFD701 65.31%);
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
     color: #fff;
}
#academic:checked ~ .wrap__programs .descriptions__programs {
    margin-left: -100%;
}
#academic:checked ~ .wrap__programs .descriptions__programs .description__program_2 {
    opacity: 1;
}
#internships:checked ~ .selector__programs .text__label_3:before {
     background: url(../images/portfolio-white.svg) no-repeat;
}
#internships:checked ~ .selector__programs .text__label_3 {
    background: -o-linear-gradient(341.58deg, #FFC341 20.46%, #FFD701 65.31%);
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
     color: #fff;
}
#internships:checked ~ .wrap__programs .descriptions__programs {
    margin-left: -200%;
}
#internships:checked ~ .wrap__programs .descriptions__programs .description__program_3 {
    opacity: 1;
}
#volunteering:checked ~ .selector__programs .text__label_4:before {
     background: url(../images/arm-white.svg) no-repeat;
}
#volunteering:checked ~ .selector__programs .text__label_4 {
    background: -o-linear-gradient(341.58deg, #FFC341 20.46%, #FFD701 65.31%);
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
     color: #fff;
}
#volunteering:checked ~ .wrap__programs .descriptions__programs {
    margin-left: -300%;
}
#volunteering:checked ~ .wrap__programs .descriptions__programs .description__program_4 {
    opacity: 1;
}
#religious:checked ~ .selector__programs .text__label_5:before {
     background: url(../images/menorah-white.svg) no-repeat;
}
#religious:checked ~ .selector__programs .text__label_5 {
    background: -o-linear-gradient(341.58deg, #FFC341 20.46%, #FFD701 65.31%);
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
     color: #fff;
}
#religious:checked ~ .wrap__programs .descriptions__programs {
    margin-left: -400%;
}
#religious:checked ~ .wrap__programs .descriptions__programs .description__program_5 {
    opacity: 1;
}


/* WANT */
.want__main {
    width: 100%;
    height: 594px;
    margin-top: 28px;
    background: url(../images/girl-flag-bg.png) no-repeat 100% 65%, url(../images/backpack.png) no-repeat 0 41%;
    background-size: 60% auto, auto;
    border-top: .1px solid transparent;
}
.content__want {
    margin-top: 210px;
}
.content__want p {
    width: 400px;
    font-size: 17px;
    line-height: 29px;
    opacity: 0.87;
    margin-bottom: 62px;
    margin-top: -9px;
}
.content__want .form__want {
    position: relative;
    width: 477px;
    height: 59px;
    border: 2px solid #E3E3E3;
    border-radius: 29.5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.form__want input {
    position: absolute;
    height: 59px;
    font-family: 'fira-sans', "arial", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    border: none;
    border-radius: 29.5px;
    top: -2px;
}
.form__want .phone-nomber__want {
    width: 212px;
    padding-left: 38px;
    color: #484848;
    opacity: 0.5;
}
.btn__want {
    width: 215px;
    right: -2px;
    color: #fff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    text-align: center;
    background: -o-linear-gradient(341.58deg, #FFC341 20.46%, #FFD701 65.31%);
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
}
.btn__want:hover, .btn__want:focus {
    background: -o-linear-gradient(340.85deg, #FFC341 -50.3%, #FFD701 63.1%);
    background: linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
    cursor: pointer;
}
.btn__want:active {
    background: -o-radial-gradient(50% 50.85%, 150% 119.49%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), -o-linear-gradient(340.85deg, #FFC341 -50.3%, #FFD701 63.1%);
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
}

/* HOW TO GO */
.how__main {
    width: 100%;
    height: 707px;
    background: url(../images/how-to-go.png) no-repeat 12px center, url(../images/stamp.png) no-repeat right 47%;
    background-size: 42% auto, auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 160px;
    align-items: center;
}
.content__how {
    position: relative;
    width: 60%;
    max-width: 552px;
    height: 627px;
    margin-right: 15px;
    margin-left: auto;
    margin-top: -50px;
    padding-left: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}
.text__how {
    max-width: 480px;
    margin-top: -10px;
    margin-bottom: 33px;
    font-size: 15px;
    line-height: 26px;
    opacity: 0.87;
}
.heading__how {
    max-width: 480px;
    padding: 0;
    font-family: 'fira-sans', "arial", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
    color: #484848;
 }
 .heading__how ul {
    margin-top: 4px;
    margin-bottom: 31px;
    background-image: url("data:image/svg+xml,%3Csvg width='2' height='193' viewBox='0 0 2 193' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M1 0.5V193' stroke='%23484848' stroke-dasharray='4 4'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-y: 59px;
 }
.item__how {
    font-size: 15px;
    line-height: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.87;
}
.item__how:before {
    
    width: 36px;
    height: 37.5px;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 24px 20px -18px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-family: 'fira-sans', "arial", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 29px;
    color: #ffc341;
}
.item__how_1:before {
    content: "1";
}
.item__how_2:before {
    content: "2";
}
.item__how_3:before {
    content: "3";
}
.item__how_4:before {
    content: "4";
}
.content__how svg {
    position: absolute;
    margin-top: 117px;
}
.text__how_bottom {
    max-width: 520px;
    margin-left: 14px;
    font-size: 15px;
    line-height: 21px;
    opacity: 0.5;
}  
.line__vertical{
    width: 100%;
    height: 42px;
    margin-left: -3px;
    border-left: 4px solid #FFC341;
}

/* LIFE IN ISRAEL */
.life__main {
    display: block;
    width: 100%;
    max-height: 950px;
    background: url(../images/watercolor_Bg_life.png) no-repeat center center, url(../images/watch.png) no-repeat right 82%;
    border-top: .1px solid transparent;
    margin-top: 113px;
}
.content__life {
    width: 100%;
    height: auto;
    margin: -11px auto 64px;
    text-align: center;
    border-top: .1px solid transparent;
}
.content__life > h2 {
    margin-top: 57px;
    margin-bottom: 23px;
}
.text__life {
    width: 720px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 29px;
    opacity: 0.87;
    text-align: right;
}
.slides__life {
    width: 100%;
    height: 61vw;
    max-height: 732px;
    margin-top: -8px;
    margin-left: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
}
.foto__life {
    position: relative;
    margin: 11px 7px;
}
.foto__life > img {
    width: 100%;
    height: auto;
}
.foto__life_1 {
    width: 42.3%;
    max-width: 482px;
    margin-left: -14px;
}
.foto__life_2 {
    width: 18.6%;
    max-width: 211px;
}
.foto__life_3 {
    width: 36%;
    max-width: 411px;
    margin-left: -15.52%;
    margin-right: 0;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
}
.foto__life_4 {
    width: 36%;
    max-width: 411px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
}
.foto__life_5 {
    width: 18.77%;
    max-width: 214px;
    margin-left: 21px;
    margin-right: 0;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
}
.description__life {
    position: absolute;
    bottom: 7px;
    font-family: 'raleway', "Apial", sans-serif;
    font-weight: 800;
    font-size: 1.54vw;
    line-height: 1.68vw;
    color: #fff;
    text-align: left;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}
.foto__life_1 .description__life {
    width: 66.39%;
    max-width: 320px;
    left: 8.3%;
}
.foto__life_2 .description__life {
    width: 56.87%;
    max-width: 120px;
    left: 11.37%;
}
.foto__life_3 .description__life {
    width: 77.86%;
    max-width: 320px;
    left: 7.79%;
}
.foto__life_4 .description__life {
    width: 87.59%;
    max-width: 360px;
    left: 7.79%;
}
.foto__life_5 .description__life {
    width: 56.07%;
    max-width: 120px;
    left: 11.21%;
}
.controls__life, .foto__life_phone {
    display: none;
}


/* #MASAISRAEL */
.masa__main {
    display: block;
    width: 100%;
    margin-top: 100px;
    background: url(../images/maisrael.png) no-repeat center top;
    background-size: cover;
    border: .1px solid transparent;
}
.conteiner__masa {
    height: 42.7vw;
    max-height: 583px;
    min-height: 391px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.content__masa {
    width: 403px;
    text-align: left;
}
.text__masa {
    margin-top: -11px;
    padding-left: 4px;
    font-size: 17px;
    line-height: 29px;
    color: #fff;
    opacity: 0.87;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}
.btn__masa {
    display: block;
    width: 230px;
    height: 59px;
    margin-top: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'fira-sans', "arial", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 29.5px;
    background: -o-linear-gradient(341.58deg, #FFC341 20.46%, #FFD701 65.31%);
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);   
}
.btn__masa img {
    margin-right: 10px;
}
.btn__masa:hover, .btn__masa:focus {
    background: -o-linear-gradient(340.85deg, #FFC341 -50.3%, #FFD701 63.1%);
    background: linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
    cursor: pointer;
}
.btn__masa:active {
    background: -o-radial-gradient(50% 50.85%, 150% 119.49%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), -o-linear-gradient(340.85deg, #FFC341 -50.3%, #FFD701 63.1%);
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
}


/* FAQ */
.questions__main {
    display: block;
    width: 100%;
    height: 940px;
    margin-top: 62px;
    background: url(../images/questions.png) no-repeat right center, url(../images/watercolor_bg_questions.png) no-repeat center top, url(../images/bag.png) no-repeat left bottom;
     border: .1px solid transparent;
}
.content__questions {
    width: 570px;
    margin-top: 70px;
}
.content__questions ul {
    margin-top: -25px;
}
.item__questions {
    position: relative;
    width: 100%;
    min-height: 94px;
    border-top: 1px solid rgba(72, 72, 72, .2);
    border-bottom: 1px solid rgba(72, 72, 72, .2);
}
.item__questions:first-child {
    border-top: none;
} 
.heading__question {
    display: inline-block;
    width: 400px;
    margin: 38px 0 30px 29px;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    color: #484848;
}
.heading__question:before {
    content: "";
    width: 13px;
    height: 48px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 24px;
    font-family: 'fira-sans', "arial", sans-serif;
    font-size: 28px;
    line-height: 48px;
    font-weight: 700;
    color: #FFC341;
}
.heading__question_1:before {
    content: "1";
}
.heading__question_2:before {
    content: "2";
}
.heading__question_3:before {
    content: "3";
}
.heading__question_4:before {
    content: "4";
}
.heading__question_5:before {
    content: "5";
}
.heading__question_6:before {
    content: "6";
}
.heading__question:after {
    content: "";
    width: 17px;
    height: 11px;
    position: absolute;
    display: inline-block;
    background: url(../images/angle-down.svg) no-repeat;
    right: 50px;
    top: 50px;
    transform: translateY(-50%);
}
.text__question {
    width: 480px;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 21px;
    opacity: 0.74;
}
.item__questions input, .item__questions .text__question {
    display: none;
}
#spoiler1:checked ~ p {
    display: block;
}
#spoiler1:checked ~ .heading__question {
    margin-bottom: 0;
}
#spoiler1:checked ~ .heading__question:after {
    background: url(../images/angle-up.svg) no-repeat;
}
#spoiler2:checked ~ p {
    display: block;
}
#spoiler2:checked ~ .heading__question {
    margin-bottom: 0;
}
#spoiler2:checked ~ .heading__question:after {
    background: url(../images/angle-up.svg) no-repeat;
}
#spoiler3:checked ~ p {
    display: block;
}
#spoiler3:checked ~ .heading__question {
    margin-bottom: 0;
}
#spoiler3:checked ~ .heading__question:after {
    background: url(../images/angle-up.svg) no-repeat;
}
#spoiler4:checked ~ p {
    display: block;
}
#spoiler4:checked ~ .heading__question {
    margin-bottom: 0;
}
#spoiler4:checked ~ .heading__question:after {
    background: url(../images/angle-up.svg) no-repeat;
}
#spoiler5:checked ~ p {
    display: block;
}
#spoiler5:checked ~ .heading__question {
    margin-bottom: 0;
}
#spoiler5:checked ~ .heading__question:after {
    background: url(../images/angle-up.svg) no-repeat;
}
#spoiler6:checked ~ p {
    display: block;
}
#spoiler6:checked ~ .heading__question {
    margin-bottom: 0;
}
#spoiler6:checked ~ .heading__question:after {
    background: url(../images/angle-up.svg) no-repeat;
}


/* TESTIMONIALS */


.testimonials__main {
    border-top: .1px solid transparent;
    margin-top: 26px;
    background: url(../images/sketch.png) no-repeat right 35%, url(../images/watercolor_bg_testimonial.png) no-repeat right 50%;
}
.content__testimonials h2 {
    text-align: center;
}
.slider__testimonials {
    position: relative;
    width: 1084px;
    height: 480px;
    margin-top: -28px;
    overflow: hidden;
}

.reviews__testimonials {
    width: 6504px;
    display: flex;
    justify-content: flex-start;
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.reviews__testimonials .review__testimonials {
    width: 1084px;
    height: 480px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.review__testimonials > img {
    width: 364px;
    height: 480px;
    margin-left: -13px;
}
.content__review {
    position: relative;
    width: 680px;
    margin-right: 12px;
}
.content__review h4 {
    font-family: 'fira-sans', "arial", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #484848;
    opacity: 0.74;
    margin-top: 43px;
}
.content__review p {
    font-size: 17px;
    line-height: 29px;
    opacity: 0.74;
    margin-top: 32px;
    margin-bottom: -14px;
}
.content__review > a {
    display: inline-block;
    margin-top: 30px;
    font-size: 17px;
    line-height: 25px;
    color: #1fc0fc;
}
.content__review .subtitle__content_review {
    margin-top: -24px;
    margin-bottom: 13px;
    font-size: 15px;
    line-height: 21px;
    opacity: 0.74;
}
.subtitle__content_review span {
    margin-left: -2px;
    color: #1fc0fc;
}
.social {
    width: 104px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social__review {
    position: absolute;
    bottom:-2px;
    right: 0;
}
.social img {
    opacity: 0.1;
}
.navigation__reviews {
    position: absolute;
    width: 96px;
    height: 26px;
    left: 40.5%;
    bottom: -2px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination__reviews p {
    font-family: 'fira-sans', "arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    color: #484848;
    opacity: 0.5;
}
.pagination__reviews p:before, .pagination__reviews p:after {
    content: "";
    font-family: 'fira-sans', "arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    color: #484848;
    opacity: 0.5;
}
.pagination__reviews p:after {
    content: "6";
    margin-left: 5px;
}
.pagination__reviews p:before {
    margin-right: 5px;
}
.controls__reviews {
    position: relative;
    width: 35px;
    height: 100%;
}
#slider__testimonials_switcher_1:checked ~ .navigation__reviews .controls__reviews .control__review_2, 
#slider__testimonials_switcher_2:checked ~ .navigation__reviews .controls__reviews .control__review_3, 
#slider__testimonials_switcher_3:checked ~ .navigation__reviews .controls__reviews .control__review_4, 
#slider__testimonials_switcher_4:checked ~ .navigation__reviews .controls__reviews .control__review_5, 
#slider__testimonials_switcher_5:checked ~ .navigation__reviews .controls__reviews .control__review_6, 
#slider__testimonials_switcher_6:checked ~ .navigation__reviews .controls__reviews .control__review_1 {
    background: url(../images/angle-right-left.svg) no-repeat center left;
    transform: translateY(-50%) rotate(180deg);
    display: inline-block;
    position: absolute;
    width: 11px;
    height: 18px;
    left: 0;
    top: 50%;
} 
#slider__testimonials_switcher_1:checked ~ .navigation__reviews .controls__reviews .control__review_6, 
#slider__testimonials_switcher_2:checked ~ .navigation__reviews .controls__reviews .control__review_1, 
#slider__testimonials_switcher_3:checked ~ .navigation__reviews .controls__reviews .control__review_2, 
#slider__testimonials_switcher_4:checked ~ .navigation__reviews .controls__reviews .control__review_3, 
#slider__testimonials_switcher_5:checked ~ .navigation__reviews .controls__reviews .control__review_4, 
#slider__testimonials_switcher_6:checked ~ .navigation__reviews .controls__reviews .control__review_5 {
    background: url(../images/angle-right-left.svg) no-repeat center right;
    display: inline-block;
    position: absolute;
    width: 11px;
    height: 18px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#slider__testimonials_switcher_1:checked ~ .reviews__testimonials {
    margin-left: 0;
}
#slider__testimonials_switcher_2:checked ~ .reviews__testimonials {
    margin-left: -1084px;
}
#slider__testimonials_switcher_3:checked ~ .reviews__testimonials {
    margin-left: -2168px;
}
#slider__testimonials_switcher_4:checked ~ .reviews__testimonials {
    margin-left: -3252px;
}
#slider__testimonials_switcher_5:checked ~ .reviews__testimonials {
    margin-left: -4336px;
}
#slider__testimonials_switcher_6:checked ~ .reviews__testimonials {
    margin-left: -5420px;
}
#slider__testimonials_switcher_1:checked ~ .navigation__reviews .pagination__reviews p:before {
    content: "1";
}
#slider__testimonials_switcher_2:checked ~ .navigation__reviews .pagination__reviews p:before {
    content: "2";
}
#slider__testimonials_switcher_3:checked ~ .navigation__reviews .pagination__reviews p:before {
    content: "3";
}
#slider__testimonials_switcher_4:checked ~ .navigation__reviews .pagination__reviews p:before {
    content: "4";
}
#slider__testimonials_switcher_5:checked ~ .navigation__reviews .pagination__reviews p:before {
    content: "5";
}
#slider__testimonials_switcher_6:checked ~ .navigation__reviews .pagination__reviews p:before {
    content: "6";
}


/* CONTACTS */

.contacts__main {
    position: relative;
    width: 100%;
    margin-top: 109px;
    background: url(../images/watercolor_bg-contacts.png) no-repeat center center;
}
.map__cotacts {
    position: absolute;
    width: 702px;
    height: 448px;
    top: 0;
    right: 0;
    background: #1fc0fc;
}
.contact__location {
    width: 480px;
    margin-bottom: 115px;
    margin-top: 50px;
    margin-left: 5px;
}
.town__contact {
    margin-right: 6px;
    font-family: 'fira-sans', "arial", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.74;
}
.town__contact span {
    font-weight: 500;
    font-variant: small-caps;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: #1fc0fc;
}
.town__contact:before {
    content: "";
    width: 12px;
    height: 18px;
    display: inline-block;
    background: url(../images/marker.svg) no-repeat;
    margin-right: 6px;
}
.town__contact span:after {
    content: "";
    width: 16px;
    height: 15px;
    display: inline-block;
    background: url(../images/arrow.svg) no-repeat;
    margin-left: 9px;
    vertical-align: middle;
}
.curator__contact {
    width: 100%;
    margin-left: -5px;
    margin-top: 19px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.curator__contact img {
    border-radius: 50%;
    margin-right: 12px;
    margin-top: 19px;
    margin-bottom: 15px;
}
.name__curator {
    font-size: 15px;
    line-height: 22px;
    color: #484848;
    opacity: 0.74;
}
.name__curator_blue {
    color: #1fc0fc;
    opacity: 1;
}
.adress__curator {
    font-size: 13px;
    line-height: 19px;
    opacity: 0.74;
}
.definition__curator {
    font-size: 17px;
    line-height: 29px;
    opacity: 0.87;
}
.social__curator {
    margin-top: -2px;
}
.coordinates__curator {
    width: 268px;
    margin-top: 5px;
    margin-left: 11px;
}
.form__contacts {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.form__contacts legend {
    display: inline-block;
    width: 328px;
    margin-right: 47px;
    font-family: 'fira-sans', "arial", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    opacity: 0.87;
    vertical-align: middle;
}
.form__contacts > input {
    width: 250px;
    height: 59px;
    border: 2px solid #E3E3E3;
    border-radius: 29.5px;
    box-sizing: border-box;
     padding-left: 40px;
     margin-right: 24px;
     margin-top: -3px;
    font-family: 'fira-sans', "arial", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    font-variant: small-caps;
    color: #484848;
    opacity: 0.5;
}
.form__contacts > input:hover, 
.form__contacts > input:focus {
    border: 2px solid #FFC341;
    opacity: 1;
}
.form__contacts > input:active {
    border: 2px solid #484848;
    opacity: 1;
}
.form__contacts .btn__contacts {
    width: 216px;
    border: none;
    margin-right: 0;
    padding-left: initial;
    opacity: 1;
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    font-family: 'fira-sans', "arial", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    font-variant: small-caps;
    color: #fff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}
.form__contacts .btn__contacts:hover, .form__contacts .btn__contacts:focus {
    background: -o-linear-gradient(340.85deg, #FFC341 -50.3%, #FFD701 63.1%);
    background: linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
    cursor: pointer;
    border: none;
}
.form__contacts .btn__contacts:active {
    background: -o-radial-gradient(50% 50.85%, 150% 119.49%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), -o-linear-gradient(340.85deg, #FFC341 -50.3%, #FFD701 63.1%);
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
    border: none;
}
.warning__contacts {
    width: 364px;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    opacity: 0.5;
}


/* FOOTER */
.footer__basic {
    width: 100%;
    min-height: 51px;
    margin-top: 72px;
    border-top: 1px solid rgba(72, 72, 72, .2);;
} 
.footer__content {
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.footer__copyright {
    padding-left: 21px;
    font-family: 'fira-sans', "arial", sans-serif;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.5;
}  




@media (min-width: 1366px) {
    .description__life {
        font-size: 21px;
        line-height: 23px;
    }
}
@media (max-width: 767px) {
    
    h2 {
        font-size: 32px;
        line-height: 39px;
    }
    h3 {
        font-size: 24px;
        line-height: 29px;
    }
    .text {
        font-size: 16px;
        line-height: 26px;
    }

    /* HEADER */
    .header__basic {
        top: 20px;
        height: 42px;
    }
    .logo {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        text-align: left;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        -ms-flex-negative: 0;
            flex-shrink: 0;
            margin-left: -7px;
    }
    .logo img {
        width: 87%;
        height: 42px;   
    }
    .phone-number, .bell_consent {
        position: absolute;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        text-align: right;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        right: 0;
    }
    .phone-number {
        align-self: start;
    }
    .bell_consent {
        align-self: end;
    }
    .phone-number a, .md-trigger {
        font-size: 14px;
        line-height: 16.8px;
    }
    .md-effect-10 {
        width: 290px;
    }
    .form__inner_top {
        width: 75%;
        margin-left: 8.75%;
    }
    .form__inner_bottom {
        width: 60%;
    }
    .form__bell h3 {
        margin-left: 8.75%;
    }

    /* PRESENTATION */
    .presentation__main {
        margin-top: 20px;
    }
    .title__main {
        top: 148px;
    }
    .girl {
        width: 100%;
        margin-left: 50.3%;
        margin-top: 18px;
    }
    .girl p {
        width: 288px;
        top: 274px;
        font-size: 20px;
        line-height: 24px;
    }
    .scroll-down {
        top: 61.5%;
        left: 50%;
    }

    /* ABOUT */

    .about__main {
        background-position: 50% 56%;
    }
    .photo__about {
        display: none;
    }
    .photo__about_small {
        display: initial;
    }
    .play-button {
        top: 52%;
    }
    .program__about {
        margin: -32px auto 0; 
    }
    .text__about {
        width: 100%;
        text-align: left;
        margin-top: 33px;
        margin-left: -14px;
    }
    .text__about span {
        display: none;
    }

    /* PROGRAMS */

    .programs__main {
        background-position: 100% 54%;
        background-size: 85%;
    }
    .content__programs {
        height: auto;
        margin-top: 77px;
        text-align: center;
    }
    .composition__programs {
        width: 100%;
        margin-top: -11px;
        flex-direction: column;
    }
    .selector__programs {
        width: 905px;
        flex-direction: row;
        transition: all .5s;
    }
    .text__label {
        width: 150px;
        height: 48px;
        border-radius: 24px;
    }
    .text__label_1::before {
        margin-right: 15px;
    }
    .text__label_2::before {
        margin-left: 10px;
        margin-right: -11px;
    }
    .text__label_3::before {
        margin-left: 14px;
        margin-right: -11px;
    }
    .text__label_4::before {
        margin-left: 12px;
        margin-right: -5px;
    }
    .text__label:hover {
        color: #FFC341;
    }
    .text__label:last-child {
        margin-right: auto;
    }
    .wrap__programs {
        width: 100%;
        min-width: 288px;
        margin-left: -15px;
        margin-top: 14px;
        text-align: left;
    }
    .descriptions__programs {
        width: 100%;
    }
    .description__program {
        width: 100%;
        opacity: 0;
        display: none;
        transition: opacity .5s;
    }
    .description__program > h3 {
        margin-bottom: 16px;
    }
    .description__program .text__program {
        font-size: 14px;
        line-height: 22px;
    }
    #general:checked ~ .wrap__programs .descriptions__programs, 
    #academic:checked ~ .wrap__programs .descriptions__programs, 
    #internships:checked ~ .wrap__programs .descriptions__programs, 
    #volunteering:checked ~ .wrap__programs .descriptions__programs, 
    #religious:checked ~ .wrap__programs .descriptions__programs {
        margin-left: 0;
    }
    #general:checked ~ .wrap__programs .descriptions__programs .description__program_1 {
        display: block;
    }
    #general:checked ~ .selector__programs {
        margin-left: 48px;
    }
    #general:checked ~ .selector__programs .text__label_1 {
        width:180px;
    }
    #academic:checked ~ .wrap__programs .descriptions__programs .description__program_2 {
         display: block;
    }
    #academic:checked ~ .selector__programs {
         margin-left: -110px;
    }
    #academic:checked ~ .selector__programs .text__label_2 {
         width:180px;
    }
    #internships:checked ~ .wrap__programs .descriptions__programs .description__program_3 {
        display: block;
    }
    #internships:checked ~ .selector__programs {
        margin-left: -262px;
    }
    #internships:checked ~ .selector__programs .text__label_3 {
        width:180px;
    }
    #volunteering:checked ~ .wrap__programs .descriptions__programs .description__program_4 {
        display: block;
    }
    #volunteering:checked ~ .selector__programs {
        margin-left: -411px;
    }
    #volunteering:checked ~ .selector__programs .text__label_4 {
        width:180px;
    }
    #religious:checked ~ .wrap__programs .descriptions__programs .description__program_5 {
        display: block;
    }
    #religious:checked ~ .selector__programs {
        margin-left: -560px;
    }
    #religious:checked ~ .selector__programs .text__label_5 {
        width:180px;
    }

    /* WANT */

    .want__main {
        height: auto;
        margin: 0 auto;
        background-position: 50% 100%, 0 4%;
        background-size: 424px auto, 100px 190px;
    }
    .content__want {
        min-width: 286px;
        margin: 66px auto 0;
        text-align: center;
        padding-bottom: 300px;
    }
    .content__want p {
        width: 100%;
        max-width: 400px;
        margin: 24px auto;
        font-size: 16px;
        line-height: 25.6px;
        text-align: left;
    }
    .content__want .form__want {
        width: 100%;
        max-width: 477px;
        height: auto;
        margin: 0 auto;
        border: none;
    }
    .form__want .phone-nomber__want {
        width: 287px;
        border: 2px solid #E3E3E3;
        border-radius: 29.5px;
    }
    .form__want .btn__want {
        width: 264px;
    }
    .form__want input {
        position: relative;
        display: block;
        margin: 8px auto;
        box-sizing: border-box;
    }

    /* HOW TO GO */

    .how__main {
        margin-top: 49px;
        background-size: 0, auto;
    }
    .content__how {
        width: 100%;
        min-width: 288px;
        padding-left: 0;
        margin-left: -6px;
    }
    .content__how h2 {
        text-align: center;
    }
    .text__how {
        margin-top: 2px;
        margin-bottom: 25px;
    }
    .heading__how {
        font-size: 16px;
        line-height: 26px;
    }
    .heading__how ul {
        margin-top: -7px;
        margin-left: 11px;
        background-image: url("data:image/svg+xml,%3Csvg width='2' height='241' viewBox='0 0 2 241' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M1 0L0.999989 241' stroke='%23484848' stroke-dasharray='4 4'/%3E%3C/svg%3E");

    }
    .text__how, .item__how, .text__how_bottom {
        font-size: 14px;
        line-height: 22px;
    }
    .item__how {
        height: 92px;
    }
    .item__how::before {
        margin-right: 17px;
    }


    /* LIFE IN ISRAEL */


    .life__main {
        background: none;
        margin-top: 94px;
    }
    .foto__life_desctop {
        display: none;
    }
    .foto__life_phone {
        display: initial;
    }
    .text__life {
        width: 100%;
        margin-left: 4px;
        text-align: left;
    }
    .text__life span {
        display: none;
    }
    .slider__life {
        width: 288px;
        margin: 33px auto 0;
        overflow: hidden;
    }
    .slides__life {
        flex-flow: row nowrap;
        width: 1590px;
        height: auto;
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    }
    .foto__life {
        width: 288px;
        max-width: none;
        height: 400px;
        margin: 0 5px;
        order: initial;
    }
    .foto__life:first-child {
        margin-left: 0;
    }
    .foto__life:last-child {
        margin-right: auto;
    }
    .foto__life .description__life {
        width: 256px;
        max-width: none;
        left: 50%;
        bottom: 0;
        transform: translateX(-49%);
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #fff;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    }
    .controls__life {
        width: 64px;
        height: 8px;
        margin: 16px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .control__life {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border: none;
        background: #484848;
        opacity: 0.2;
    }
    .control__life:focus, .control__life:active, .control__life:hover {
        width: 8px;
        height: 8px;
        margin: 0 -1px;
        background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
        opacity: 1;
    }
    #slide-life-1:checked ~ .slides__life {
        margin-left: 0;
    }
    #slide-life-2:checked ~ .slides__life {
        margin-left: -298px;
    }
    #slide-life-3:checked ~ .slides__life {
        margin-left: -596px;
    }
    #slide-life-4:checked ~ .slides__life {
        margin-left: -894px;
    }
    #slide-life-5:checked ~ .slides__life {
        margin-left: -1192px;
    }



    /* #MASAISRAEL */
    .masa__main {
        margin-top: -34px;
        background-position: 20% 50%;
        background-size: 170% auto;
    }
    .content__masa {
        width: 100%;
        max-width: 403px;
        min-width: 272px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .content__masa h2 {
        font-size: 40px;
        line-height: 49px;
    }
    .conteiner__masa {
        min-height: 423px;
    }
    .text__masa {
        margin-top: 52px;
        margin-left: -2px;
    } 
    .btn__masa {
        width: 264px;
        margin-top: 32px;
    }
}
@media (max-width: 320px) {
    .masa__main {
        background: url(../images/maisrael-phone.png) no-repeat;
        background-position: 50% 50%;
        background-size: auto;
    }
}